@import "../../../../Styles/variable";
@import "../../../../Styles/animation";
@import "../../../../Styles/responsive";

.section-slider-product {
  background-color: $light;
  padding-bottom: 18px;
  .section-image {
    img {
      width: 100%; 
    }
  }
  .product-content {
    cursor: grab;
    margin-top: 24px;
    position: relative;
    .swiper {
      &:hover {
        .swiper-button-prev {
          display: block;
          @include keyframes(hoverleft) {
            from {
              left: 0;
            }
            to {
              left: calc(0% + 12px);
            }
          }
          @include animation(hoverleft, 0.2s, ease-in, 1);
        }
      }
      &:hover {
        .swiper-button-next {
          display: block;
          @include keyframes(hoverright) {
            from {
              right: 0;
            }
            to {
              right: calc(0% + 12px);
            }
          }
          @include animation(hoverright, 0.2s, ease-in, 1);
        }
      }
      .swiper-button-next,
      .swiper-button-prev {
        transition: all 0.3s;
        display: none;
        position: absolute;
        top: calc(50% - 24px);
        width: 34px;
        height: 34px;
      }
      .swiper-button-next {
        &::after {
          display: none;
        }
        background-size: contain;
        background-image: url("https://bizweb.sapocdn.net/100/438/408/themes/858544/assets/next_bst.svg");
      }
      .swiper-button-prev {
        &::after {
          display: none;
        }
        background-size: contain;
        background-image: url("https://bizweb.sapocdn.net/100/438/408/themes/858544/assets/prev_bst.svg");
      }
      .swiper-slide{
        margin-right: 20px !important;
      }
      .product-image{
        img{
          max-height: 253px;
          object-fit: cover;
        }
        @include mobile {
          img {
            width: 100%;
            height: 200px;
            object-fit: cover;
          }
        }
      }
    }
    .item-product {
      .option-view{
        display: none;
      }
    }
    .swiper-slide{
      text-align: center;
      height: initial;
      .swiper-end{
        font-size: 1.8rem;
        font-weight: 600;
        color: $yellow;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(254,238,234);
        width: 100%;
        height: 100%;
      }
    }
  }
}
