@import "../../../Styles/variable";

.Content{
  background-color: $white;
  .header-content{
    .title-desktop{
      .list-title{
        padding: 0;
        display: block;
        list-style: none;
        text-align: center;
        .list-title-item{
          cursor: pointer;
          display: inline-block;
          padding: 0 20px;
          margin: 0 8px;
          color: $black;
          border: 1px solid #dde1ef ;
          font-size: 1.6rem;
          text-transform: uppercase;
          border-radius: 4px;
          align-items: center;
          text-align: center;
          line-height: 38px;
          background-color: $white;
          &:hover{
            background-color: $yellow;
            color: $white;
          }
        }
        .item-active{
          background-color: $yellow;
          color: $white;
        }
      }
    }
  }
}