@import "../../../Styles/variable";

.swiper-pagination-bullet{
  background-color: $white !important;
}
.swiper-pagination-bullet-active{
  background-color: $yellow !important; 
  border: 1px solid $white;
}