@import "./variable";
@import "./responsive";

* {
  box-sizing: border-box;
}

.container {
  max-width: 1260px;
}

html {
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

body {
  font-family: "SVN-Gilroy";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #7a7a9d;
  border-radius: 3px;
}

::-webkit-scrollbar-track {
  background: #dde1ef;
  border-radius: 3px;
}

.more {
  width: 286px;
  line-height: 46px;
  text-align: center;
  border-radius: 4px;
  background-color: $yellow;
  display: block;
  cursor: pointer;
  align-items: center;
  margin: 20px auto 36px auto;
  font-size: 1.8rem;
  font-weight: 500;
  color: $white;
  border: 1px solid $yellow;

  @include mobile {
    margin-bottom: 12px;
  }

  &:hover {
    background-color: $white;
    color: $yellow;
  }
}

.content-title {
  color: $yellow;
  text-align: center;
  padding: 30px 0 30px 0;
  text-transform: uppercase;

  h2 {
    margin: 0;
  }

  @include mobile {
    padding: 20px 0 12px 0;
  }
}

.margin-right-12 {
  margin-right: 12px;
}

.text-align-left {
  text-align: left;
}

.buy-by {
  text-align: center;
  padding: 48px 0 24px 0;
  color: $yellow;
  text-transform: uppercase;
}
