@import "../../../../Styles/variable";

.block-content {
  padding-left: 26px;
  .separation-block-like {
    border-radius: 4px;
    height: 627px;
    background-color: $white;
    .header-content {
      padding: 16px;
      border-bottom: 1px solid #dde1ef;
      display: flex;
      justify-content: space-between;
      .first-title {
        font-size: 1.6rem;
        font-weight: 500;
        color: $yellow;
      }
      .last-title {
        font-size: 1.4rem;
        color: #7a7a9d;
      }
    }
    .body-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 16%;
      img {
        width: 70px;
      }
      span {
        font-size: 1.6rem;
        color: #7a7a9d;
        margin: 24px;
      }
      .buy-now {
        font-size: 1.8rem;
        font-weight: 500;
        background-color: $yellow;
        color: $white;
        padding: 12px 52px;
        border-radius: 4px;
      }
    }
  }
  .title-like-product {
    h1 {
      color: $yellow;
      padding: 42px 0 18px 0;
    }
    .option-view {
      margin: 4px 0 8px 0;
      .view-color {
        margin-right: 8px;
        cursor: pointer;
        img {
          border-radius: 50%;
          border: 0.5px solid rgb(243, 237, 237);
          overflow: hidden;
          width: 30px;
          height: 30px;
          object-fit: cover;
        }
      }
    }
  }
}
