@import "../../../../Styles/variable";

.body-change-password {
  margin-top: 5% !important;
  align-items: normal !important;
  .wrapper_fieldset {
    text-align: left;
    .text-input {
      margin: 0 0 12px 24px;
      font-size: 1.4rem;
      position: relative;
      input {
        border: 2px solid #eaebf3;
        border-radius: 3px;
        width: 50%;
        min-height: 48px;
        color: $gray;
        outline: none;
        padding: 8px 6px;
      }
      .icon-password {
        position: absolute;
        left: 45%;
        top: 0%;
        transform: translateY(-50%);
      }
    }
  }
  .wrapper-btn-change-password {
    display: flex;
    align-items: center;
    margin-top: 24px;
    justify-content: center;
    .btn-change-password-save {
      font-weight: 500;
      text-transform: uppercase;
      border: none;
    }
    .btn-change-password-cancle {
      margin-left: 12px;
      background-color: #feeeea;
      color: $yellow;
      font-weight: 500;
      text-transform: uppercase;
      border: none;
      &:hover {
        background-color: $yellow !important;
        color: $white !important;
      }
    }
  }
}
