@import "../../../Styles/variable";
@import "../../../Styles/responsive";

.nav-menu-drop {
  z-index: 3;
  background-color: $white;
  width: 100%;
  position: absolute;
  left: 0;
  padding: 0 24px;
  justify-content: space-between;
  display: none;
  @include tablet {
    padding: 12px 0 12px 0;
    
  }
  .col {
    max-width: 20% !important;
    flex-basis: 20% !important;
    @include tablet {
      max-width: 25% !important;
      flex-basis: 25% !important;
    }
  }
  ul {
    @include tablet {
      padding-right: 0;
    }
    .title {
      font-weight: 500;
      list-style: none;
      padding: 26px 0;
      min-height: 42px;
      @include tablet {
        padding: 0;
        font-size: 1.2rem;
        text-align: left;
      }
      .item-link {
        text-decoration: none;
        font-size: 1.4rem;
        color: $black;
        text-transform: uppercase;
        &:hover {
          color: $yellow;
        }
        @include tablet {
          font-size: 1.1rem;
        }
      }
    }
    .item {
      list-style: none;
      padding-bottom: 24px;
      @include tablet {
        padding-bottom: 12px;
        font-size: 1rem;
      }
      .item-link {
        text-decoration: none;
        font-size: 1.4rem;
        color: $dark;
        font-weight: 400;
        text-transform: capitalize;
        &:hover {
          color: $yellow;
        }
        @include tablet {
          font-size: 1.1rem;
        }
      }
    }
  }
  .banner {
    padding: 24px 0;
    img {
      max-height: 330px;
      @include tablet {
        max-height: 230px;
      }
    }
  }
}
